<!DOCTYPE html>
<html>
  <head>
    <title>Weiben - Wheel of fortune</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
  </head>

  <body>
    
    
    <h1>номер # {{ id }}</h1>
    <div id="app">
      <img class="marker" src="static/marker.png" />
      <img class="wheel" src="static/wheel.png" />
      <img class="button" src="static/button.png" />
    </div>
    <script src="static/confetti.js"></script>
    <script src="static/script.js"></script>
    
  </body>
</html>
